{% extends "layout.html.twig" %} {% block title %} Homepage{% endblock %} {%
block content %}
<h1>
  Bienvenue chez Shoppinas! la prmeière plateforme de shopping en ligne au
  NasLand
</h1>
{% endblock %}
