{% extends "layout.html.twig" %}
{% block title %}
	{{parent()}}
	Formulaire d'ajout d'un produit
{% endblock %}
{% block content %}
	<h1>Ajouter un produit</h1>
	{{ form(formProduit) }}{% endblock %}
