{% extends "layout.html.twig" %} {% block title %}Error 403 {% endblock %} {%
block content %}
<div class="m-5 p-5 text-center alert alert-danger">
  <h4>Vous n'avez pas le droit pour accéder à cette page!</h4>
  <p>
    Prière de contacter l'administrateur au 00212 5 54 53 52
    <small>13€/min</small>
  </p>
</div>

{% endblock %}
